* {
  font-family: "Nunito", sans-serif;
}
table {
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: beige;
}

th {
  padding: 10px;
}

td {
  padding: 2px;
}
input.add-product {
  width: 50px;
}
